<div class="wrapper">
   <div class="form-holder">
    <p>Commutes in the High Desert</p>
     <p>20 mi Radius 7am - 8pm</p>
     <p>We’ll provide you with a quote from your itinerary to your home within a budget. Just fill in your details below to get started and we’ll give you a call to arrange your appointment.</p>
       <form action="#" method="post" name="BOOK-DESIGN-VISIT">
        <input class="bookingform-input placeholder" name="name" placeholder="Your name" type="text">
        <input class="bookingform-input placeholder" name="telephone" placeholder="Your phone number" type="text">
        <input class="bookingform-input placeholder" name="email" placeholder="Your email address" type="text">
        <input class="bookingform-input placeholder" name="postcode" placeholder="Your postcode" type="text">
        <input class="bookingform-input placeholder" name="details" placeholder="Details" type="text">
        <input class="cta top" type="submit" value="BOOK RIDE">
        <input name="input-processing" type="hidden" value="BOOK-RIDE">
       </form>
     <p class="top">Book today and receive:</p>
     <p>Nice car clean non smoking! 
    3 passengers max. Local only, 7am to 8 pm please call night before for early am.</p>
   </div>
</div>